/* --- Estilos Generales --- */
:root {
  --menta: #48c89c;
  --mentaclaro: #f4faf7;
  --naranja: #ff9442;
  --texto: #646464;
  --blanco: #f5f5f5;
  --negro: #0a0a0a;
  --oscuro: #202430;
}

body {
  background-color: white;
  color: var(--black);
  font-family: "Hind", sans-serif;
}

p {
  color: var(--texto);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

.botoncolor {
  background-color: var(--menta);
  font-size: 15px;
  font-weight: 900;
  color: var(--blanco);
  border: none;
  padding: 1rem 2rem !important;
}
.botoncolor:hover {
  background-color: transparent;
  color: var(--menta);
  /* border: 5px solid var(--menta); */
  box-shadow: 0 0 0 3px var(--menta);
}

.botontransparente {
  background-color: transparent;
  font-size: 15px;
  font-weight: 900;
  color: var(--menta);
  border: none;
  padding: 1rem 2rem !important;
  box-shadow: 0 0 0 3px var(--menta);
}
.botontransparente:hover {
  background-color: var(--menta);
  color: var(--blanco);
  /* border: 5px solid var(--menta); */
  box-shadow: 0 0 0 3px var(--menta);
}
.heading-secundario {
  font-size: 18px;
  color: var(--naranja);
}
.secciones-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* --- Estilos Navbar --- */
#navbar-top > ul > li > a {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: bold;
}

/* --- Estilos Inicio --- */
#seccion-inicio {
  background-color: var(--mentaclaro);
  padding: 1px;
}
#inicio-info {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
#inicio-imagen {
  align-self: end;
}

.sombraproyectos {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inicio-contacto {
  font-weight: 600;
  font-size: 22px;
  color: var(--menta);
}
.inicio-contacto > a {
  padding-left: 1rem;
}
.inicio-contacto > a > svg {
  fill: var(--menta);
}

/* --- Estilos Experiencia --- */
.exp-card {
  padding: 2rem;
  text-align: initial;
}
.exp-fecha {
  font-weight: 400;
  font-size: 14px;
  color: darkgrey;
}
.exp-titulo {
  font-weight: 500;
  font-size: 22px;
  color: var(--menta);
  margin-bottom: 1rem;
}
.exp-subtitulo {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1rem;
}

/* --- Estilos Formacion --- */
.for-section {
  background-color: var(--mentaclaro);
}

/* --- Estilos Skills --- */
.skills-progr {
  height: 30px;
}
.skills-progr > div {
  background-color: var(--menta);
  font-size: 16px;
}

/* --- Estilos Proyectos --- */
.proy-card {
  justify-content: end;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, transparent, rgba(10, 10, 10, 0.7));
  cursor: pointer;
}
.proy-card:hover {
  background-image: linear-gradient(180deg, transparent, rgba(10, 10, 10, 0.5));
}
.proy-fecha {
  font-weight: 400;
  font-size: 14px;
  color: var(--blanco);
}
.proy-titulo {
  font-weight: 500;
  font-size: 22px;
  color: #81d9bb;
  margin-bottom: 1rem;
}
.proy-subtitulo {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1rem;
  color: var(--blanco);
}
.proy-text {
  color: var(--blanco);
}

/* --- Estilos Footer --- */
.secc-footer {
  background-color: var(--oscuro);
  padding-top: 8rem;
  width: auto;
  height: auto;
  color: var(--blanco);
}
.social-link {
  font-size: 20px;
}
.social-link:hover {
  color: var(--naranja);
}
.social-link > svg {
  fill: var(--blanco);
}
.secciones-link:hover {
  color: var(--naranja);
}
